.article-header{
    background-color: rgb(187, 196, 196);
    color:white;
    border: 3px solid transparent;
    text-align:center;
}
.section-content {

    margin-left: 10%;
    margin-top :15px;
    margin-right:10%;

}